
body{
    text-align: center;
}

input {
    width: 50%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
}

button{
    background-color: #26d2e9;
    border: none;
    color: white;
    padding: 20px 35px;
    text-decoration: none;
    margin: 5px 4px;  
    font-size: large;
}